@charset "UTF-8";

/**
 * TABLE DES MATIERES
 *
 * Normalize (au lieu du reset)
 * Utilitaires
 * Grille 12 colonnes
 * Typographie
 * Styles de base
 */

/* Normalize (reset qui harmonise le rendu des éléments de formulaire)
   ========================================================================== */
@import url(normalize.css);

/* Utilitaires (contient box-sising = border-box et autres utiles)
      ========================================================================== */
@import url(utilitaires.css);

/* Grille 12 colonnes (jeu de classes : conteneur, rangee, cols_X_de_12)
      ========================================================================== */
@import url(grille.css);

/* Typographie */

@import url(typo.css);

/* MENU */
@import url(composants/menu.css);




/* Styles de base
      ========================================================================== */

.liste-type-chambre {
    list-style: none;
}

/*** Label des boutons radio ***/
/* le sélecteur met à profit
le fait que le label est consécutif
au input (cas des boutons radio et des cases à cocher)
 */
input[type=radio]+label {
    display: inline-block;
    text-align: center;
    border: 2px solid transparent;
}

/*** Interactivité ***/
[type=radio]:hover+label {
    cursor: pointer;
}

/* [type=radio]:hover+label,
[type=radio]:focus+label {
    border: 2px solid #09c231;
}

[type=radio]:checked+label {
    border: 2px solid #068221;
} */

.forfait .row {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 600px) {
    .forfait .row {
        display: flex;
    }
}

.forfait__li {
    flex-basis: 33%;
    margin: 0.25rem;
}

.forfait__li img {
    filter: grayscale();
}

.forfait__li [type="radio"]+label {
    display: block;
    padding: 1rem;
}

.forfait__li [type="radio"]:focus+label,
.forfait__li [type="radio"]:checked+label {
    background-color: rgb(85, 108, 80);
    font-weight: bold;
    color: white;
}

.forfait__li [type="radio"]:focus+label img,
.forfait__li [type="radio"]:checked+label img,
.forfait__li [type="radio"]:hover+label img {
    filter: none;
}

.erreur {
    color: red;
    font-size: 1rem;
}

.deuxieme-fieldset {
    border: none;
}

h3 {
    margin: 0;
}

.type {
    display: block;
}

.icone {
    display: inline-block;
    width: 14px;
    height: 13px;
    background-image: url("../images/icones/good-warning-error.png");
    background-size: cover;
    position: relative;
    top: 3px;
}

/* .icone--ok {
    background-position: 0 0;
} */

/* .icone--avertissement {
    background-position: 49px 0;
} */

.icone--erreur {
    background-position: 95px 0;
}

footer {
    background-color: rgb(217, 217, 217);
}

.footer {
    padding: 25px 5px;
    font-size: 1.2rem;
}

.logo {
    width: 20%;
    margin: 10px 0 0 0;
}

.titre_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 48, 25);

}

.titre {
    font-size: 2rem;
    margin: 0 0 5 0;
    text-align: center;
}

@media(min-width:600px) {
    .titre {
        font-size: 3rem;
    }
}

@media(min-width:1000px) {
    .titre {
        font-size: 4rem;
    }

    .logo {
        width: 15%;
    }
}

a:link,
a:visited {
    color: rgb(3, 89, 48);
    text-decoration: none;
    font-weight: bold;
}

a:hover,
a:active {
    color: rgb(0, 47, 20);
    text-decoration: underline;
}

.titre_logo:link,
.titre_logo:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

/* .titre_logo:hover,
.titre_logo:active {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 48, 25);
    text-decoration: none;
} */

.button {
    background-color: rgb(0, 48, 25);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    cursor: pointer;
    /* margin: 20px 0; */
}

form .button:hover {
    background-color: white;
    border: solid 1px rgb(0, 48, 25);
    color: rgb(0, 48, 25);
}


.case-a-cocher {
    background-color: rgb(202, 227, 196);
    padding: 10px;
}



.button-confirmation {
    margin: 15px auto;
}

.button-disponibilite {
    margin: 15px 10px;
}




@media(min-width:600px) {
    .disponibilite-dates {
        display: flex;
    }

    .deuxieme-fieldset {
        margin: 0 10px;
    }

    main,
    aside,
    hr {
        max-width: 80%;
        margin: 0 auto;
    }

}

h1 {
    color: rgb(0, 48, 25);
    border-bottom-style: double;
    text-align: center;
    background-color: rgba(0, 117, 60, 0.179);
    max-width: 90%;
    margin: 10px auto 0 auto;
}

/* @media(max-width:599px){
    h1{
        max-width: 80%;
        margin: 10px auto;
    }
} */