
.nav{
    background-color: rgb(203, 203, 203);
}

/* Bouton du menu */
.nav__control {
    background-color: rgba(203, 203, 203);

    font-weight: bold;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    min-width: 40px;

    float: left;
}

@media (min-width: 600px) {
    .nav__control {
        display: none;
    }
}

.nav__control:hover,
.nav__control:active {
    color: rgb(0, 48, 25);
    border: solid 1px black;
    cursor: pointer;
}

.nav__control:focus {
    /* En mettant la règle outline: none;, les styles du navigateur
     * pour les éléments en cours de focus sont effacés. Il faut alors
     * les remplacer par d'autres styles qui peuvent être plus
     * en accord avec la direction visuelle du projet.
     */
    outline: none;
    /* AUTRES STYLES EN REMPLACEMENT DU OUTLINE */
    /*
     * Les règles outline-offset et outline permettent
     * de modifier l'apparence du outline par défaut des navigateurs.
     */
    outline-offset: -5px;
    outline: black auto 5px;
}

/* Liste du menu */
.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    max-height: none;
    clear: both;
}

@media (min-width: 600px) {
    .nav__list {
        display: flex;
        justify-content: space-around;
        max-width: 1000px;
        margin: auto;
    }

    .nav__list-item {
        display: inline-block;
        flex-basis: 20%;
        margin: 0;
        text-align: center;
        /* border: solid 0.5px black; */
    }
}

/* Liens du menu */
.nav__link {
    font-size: 1.7rem;
    background-color: rgba(203, 203, 203);
    display: block;
    padding: 5px 10px;
    width: 100%;
}

.nav__link:link,
.nav__link:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.nav__link:hover {
    color: #fff;
    background-color: rgb(0, 48, 25);;
}

.nav__link:active {
    color: #fff;
    background-color: rgb(0, 0, 0);
}


.nav__link:focus {
    outline-offset: -5px;
    outline: black auto 5px;
    box-shadow: none;
}

@media (min-width: 600px) {
    .nav__link:focus {
        outline-offset: 0;
    }
}

/** Une classe nav__link--active
    sert à définir un état différent
    pour l'item de menu actif
    **/
.nav__link--active {
    border-left: 5px solid rgb(0,48,25);
}

@media (min-width: 600px) {
    .nav__link--active {
        border-left: none;
        border-bottom: 5px solid rgb(0,48,25);
    }
}


/** 
 * Styles conditionnels au JavaScript
 * L'ajout par JavaScript de la classe .js
 * permet de rédiger des sélecteurs conditionnels à ce que Javascript est actif
 * De cette façon,
 *** en l'absence de JavaScript le menu restera visible et accessible
 *** en présence de JavaScript le menu est caché
 */
@media (max-width: 599px) {
    .js .nav__list {
        max-height: 100vh;
        overflow: hidden;
        transition: max-height 2s;
    }

    .js .nav--closed .nav__list {
        max-height: 0;
        transition: max-height 0.5s;
    }
}